name: MLflow CI with Conda

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train_model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          auto-activate-base: false

      - name: Verify Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
          mlflow --version

      - name: Ensure MLflow artifact folder exists
        run: mkdir -p MLProject/mlruns

      - name: Run model training with MLflow
        shell: bash -l {0}
        run: |
          export MLFLOW_TRACKING_URI=MLProject/mlruns
          mlflow run MLProject

      - name: Upload MLflow artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns/**
